* {
  margin: 0;
  padding: 0;
  border: 0;
}

.contact {
  text-align: center;
  background-color: rgb(255, 255, 255);
}

.contact div {
  padding: 100px;
}

a {
  font-family: "Press Start 2P", cursive;
  text-decoration: none;
  color: black;
}
