* {
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  list-style: none;
  border: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ccc;
  margin: 0;
  position: relative;
  display: flex;
  justify-content: center;
}

.hero {
  background-image: url(../imagens/mini_ELETRICISTA.jpeg);
  height: 500px;
  background-position: right center;
  background-size: cover;
  border-top: 1px solid transparent;
}

.hero-content {
  text-align: center;
  color: #f7f1f1;
  margin-top: 50px;
}

.hero-content h1 {
  text-transform: uppercase;
  font-size: 46px;
  text-shadow: 3px 3px 2px #000000;
  margin-bottom: 150px;
}

.hero-content p {
  background-color: rgba(10, 10, 10, 0.747);
  display: inline-block;
  padding: 20px;
  border-bottom: 2px solid rgb(255, 255, 255);

  line-height: 26px;
}

.content-section p {
  padding: 10px;
}

.hero nav ul {
  text-align: right;
  margin: 20px 50px 0 0;
}

.hero nav li {
  display: inline-block;
  list-style: none;

  border: 1px solid #fff;
}

.hero nav a {
  background: rgba(0, 0, 0, 0.4);
  display: block;
  padding: 15px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
}

.hero nav a:hover {
  background: rgb(255, 255, 255);
  color: #000;
}

main {
  width: 80%;
  margin: auto;
}

.content-section {
  background-color: #fff;
  padding: 15px;
  margin-top: 15px;
  overflow: auto;
}

.card {
  width: 32%;
  float: left;
  box-sizing: border-box;
}

.card-1,
.card-2 {
  margin-right: 2%;
}

.card img {
  width: 100%;
  display: block;
}

.card p {
  background-color: #141414;
  color: #fff;
  margin: 0;
  padding: 15px;
}

a {
  text-decoration: none;
}

.content-section h2 {
  background-color: #ccc;
  padding: 30px;
  border-bottom: solid 5px #000;
  text-align: center;
}

.content-1 {
  position: relative;
  display: grid;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 50px;
  margin-top: 20px;
}

button {
  width: 10em;
  position: relative;
  height: 3.5em;
  border: 3px ridge #000;
  outline: none;
  background-color: transparent;
  color: #000000;
  transition: 1s;
  font-size: 16px;
  font-weight: bold;
}

button::after {
  content: "";
  position: absolute;
  top: -10px;
  left: 3%;
  width: 95%;
  height: 40%;
  background-color: #ccc;
  transition: 0.5s;
  transform-origin: center;
}

button::before {
  content: "";
  transform-origin: center;
  position: absolute;
  top: 80%;
  left: 3%;
  width: 95%;
  height: 40%;
  background-color: #ccc;
  transition: 0.5s;
}

button:hover::before,
button:hover::after {
  transform: scale(0);
}
button:hover {
  box-shadow: inset 0px 0px 25px #000;
}

footer {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  text-shadow: 3px 3px 2px #000;
  padding: 30px;
  margin-top: 20px;
}
